body {
    background: #000;
    color: #333;
}

h1 {
    text-align: center;
    height: 20px;
}

textarea {
    background: #333;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

#speed {
    width: 50px;
}